:root {
    --main-color:#558260;;
    --secondary-color: rgba(41, 100, 20, 0.42);
    --main-font: 'Montserrat';
}
.main {
    display: flex;
    height: auto;
    min-height: 100vh;
    background-color: var(--secondary-color);
    font-family: var(--main-font);
    padding: 0 50px;
}