.Playlist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.Playlist h1 {
  font-size: 36px;
  font-weight: 400;
  margin: 20px;
}